:root {
    --main-bg-color: #fff;
    --minor-color: #fff;
    --container-width: 1250px;
    --content-width: 960px;
    --title-primary-color: #043a7c;
    --title-minor-color: #0b4994;
    --title-font-size: 42px;
    --title-line-height: 42px;
    --text-color: #000;
}

@media (max-width: 1200px) {
    :root {
        --container-width: 940px;
        --content-width: 940px;
    }
}

@media (max-width: 960px) {
    :root {
        --container-width: 630px;
        --content-width: 630px;
        --title-font-size: 38px;
        --title-line-height: 38px;
    }
}

@media (max-width: 640px) {
    :root {
        --container-width: 520px;
        --content-width: 520px;
        --title-font-size: 30px;
        --title-line-height: 30px;
    }
}

@media (max-width: 480px) {
    :root {
        --container-width: 450px;
        --content-width: 450px;
    }
}
