.section {
    padding: 100px 0 100px;

    background-color: #f0f7ff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;

    color: var(--title-minor-color);
}

.title {
    margin-bottom: 40px;

    color: var(--title-primary-color);
    font-weight: 600;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    text-align: center;
}

.districts {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.district {
    flex: 0 1 33.333%;

    text-align: center;
}

.districtName {
    margin-bottom: 38px;

    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
}

.districtLocation {
    margin-bottom: 40px;

    color: var(--title-primary-color);
    font-size: 20px;
    line-height: 31px;
}

.districtRegion {
    font-weight: 700;
}
.districtCity {
    font-weight: 600;
}

.districtAdress {
    color: #000;
}

@media (max-width: 960px) {
    .districts {
        flex-direction: column;
        gap: 0;
    }

    .districtName {
        margin-bottom: 18px;

        color: #000;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .districtRegion,
    .districtCity,
    .districtAdress {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}
