.main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;

    display: flex;
    box-sizing: border-box;
    overflow-y: auto;

    color: black;

    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
    cursor: pointer;

    animation: opacity 0.3s ease-in-out;
}

.container {
    position: relative;
    top: 0;
    right: auto;
    left: auto;
    z-index: 1;

    display: flex;
    height: max-content;
    margin: 0 auto;
    margin-top: 70px;

    background-color: #fff;
    cursor: default;
}

.wrapper {
    display: flex;
    width: auto;
    padding: 70px 45px 40px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.closeBtn button {
    position: fixed;
    top: 40px;
    right: 60px;

    width: 30px;
    height: 30px;

    color: #ffffffb4;
    font-size: 36px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeCross {
    width: 30px;
    height: 30px;

    color: #fff;
}

@media screen and (max-width: 560px) {
    div.main {
        display: block;
        padding-top: 60px;
        padding-right: 0;
        padding-left: 0;
    }
}
