.section {
    padding: 100px 0 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;

    color: var(--title-minor-color);
}

.title {
    margin-bottom: 30px;

    color: var(--title-primary-color);
    font-weight: 600;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    text-align: center;
}

.subtitle {
    margin-bottom: 60px;
}
.subtitle,
.telephoneLink {
    width: 600px;

    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.telephoneLink {
    padding-left: 10px;

    color: var(--title-minor-color);

    text-decoration: none;

    cursor: pointer;
}

.afterSubmit {
    width: 100%;
    max-width: var(--content-width);
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #fff;
    font-size: 18px;
    text-align: center;

    background-color: #52c589;
}

.terms {
    font-size: 15px;
    line-height: 1.55;
    text-align: center;
}

.termsBtn {
    color: var(--title-minor-color);

    font-size: 15px;
    line-height: 1.55;

    text-decoration: none;
    text-decoration: solid underline currentColor 1px;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

@media (max-width: 960px) {
    .subtitle,
    .telephoneLink {
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .subtitle,
    .telephoneLink {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .subtitle,
    .telephoneLink {
        width: 100%;

        font-size: 20px;
    }
    .section {
        padding: 50px 0 50px;
    }
}
