.section {
    margin: 0 auto;
    padding: 30px 0;

    color: var(--title-primary-color);

    background-color: transparent;
}

.container {
    max-width: var(--container-width);
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.slogan {
    order: 1;

    font-weight: 400;
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: -1px;
}
.logo {
    order: 2;
}

.telephone {
    order: 3;
}
.telephoneLink {
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.55;
    text-decoration: none;
}

@media (max-width: 960px) {
    .logoImage {
        height: 70px;

        vertical-align: center;
    }

    .slogan,
    .telephoneLink {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 640px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        align-items: center;
        justify-content: space-between;
    }

    .slogan {
        order: 3;

        font-size: 14px;
        line-height: 10px;
    }
    .logo {
        order: 1;
        width: 60%;
    }

    .telephone {
        order: 2;
    }
}

@media (max-width: 480px) {
    .logoImage {
        height: 55px;
    }
    .telephoneLink {
        font-size: 14px;
        line-height: 14px;
    }
}
